
     header .nav-item{
      text-transform: uppercase;
      margin-left: 50px;
      }
      header .nav-item a::after{
        content: "";
        display: block;
        width: 100%;
        background-color: rgb(120, 124, 128);
        height: 1px;
        transform: scale(0);
        transition: all .3s;
      }
      header .nav-item a:hover::after{
        transform: scale(1);
      }
      .post-category,
      .link-more{
        font-size:14px;
        color: rgb(255, 41, 22);
        text-transform: uppercase;
        font-weight: 300;
      }
    .slider{
      margin-bottom: 50px;
    }
    .card-img-top{
      
    }
    .big {
   background: #ccc;
   height: 300px;
}

.btn {
   font-size: 14px;
}

.box {
   background: lightgreen;
   height: 40px;
}

section{
  padding: 100px 0;
}
.thumb img {
  -webkit-filter: grayscale(0);
  filter: none;
  border-radius: 5px;
  background-color: rgb(247, 242, 242)9);
  border: 1px solid rgb(179, 33, 33);
  padding: 5px;
}

.thumb img:hover {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

.thumb {
  padding: 5px;
}
.class_FOTO{
  text-align: center;
}